.messageSender{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(238, 238, 230);
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px;
    width: 100%;
}

.messageSender_top{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid blanchedalmond;
}

.messageSender_top>form{
    flex: 1;
    display: flex;
}

.messageSender_top>form>input{
    outline-width: 0;
    border: none;
    border-radius: 999px;
    padding: 5px 20px;
    margin: 0px 10px;
}

.messageSender_top>form>button{
    display: none;
}

.messageSender_input{
    flex: 1;
}

.messageSender_bottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSender_option{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.messageSender_option>h4{
    font-size: medium;
    padding-left: 10px;
}

.messageSender_option:hover{
    background-color: rgb(216, 218, 219);
    border-radius: 15px;
    cursor: pointer;
}